{% load i18n %}
<!DOCTYPE html>
<html xml:lang="en" lang="en" dir="ltr">
<head>

	<meta charset="utf-8">
	<meta name="description" content="{% block description %}{% endblock %}">

	<title>{% block title %}{% endblock %}</title>
   <!-- {% trans "Example Quiz Website" %} |  -->

	<!-- styles -->
	{% load staticfiles %}
   
   <!-- loading site logo -->
   <link rel="shortcut icon" href="{% static 'users/images/favicon.ico' %}" />

	<link rel="stylesheet" href="{% static 'quiz/css/bootstrap.min-3.3.6.css' %}" />

   <!-- kuweka the glyphicon-support-css, since bootstrap4 ilitoa support
   <link href="{% static 'quiz/css/glyphicons.css' %}" rel="stylesheet"
   type="text/css" />-->

	<!-- style-rules ya the sidebar look -->
   <link href="{% static 'quiz/css/simple-sidebar.css' %}" rel="stylesheet"
   type="text/css" />

   <!-- style-rules ya site -->
   <link href="{% static 'quiz/css/app-users.css' %}" rel="stylesheet"
   type="text/css" />

   <!-- materialize style rules -->
   <link href="{% static 'quiz/css/materialize.css' %}" rel="stylesheet"
   type="text/css" />

   <!-- material-icons.css -->
   <link rel="stylesheet" type="text/css" 
   href="{% static 'users/css/material-icons.css' %}" />

</head>

<body>

	<div id="wrapper" >

		<!-- segment ya Sidebar -->
      <div id="sidebar-wrapper">

      	<ul class="sidebar-nav">

      		<li class="sidebar-brand" >
      			<a href="/">
      				<span class="glyphicon glyphicon-home" ></span>
                  Quiz Site
      			</a>
      		</li>
            <li>
               <a href="/quiz/">
                  Quiz Control Center
               </a>
            </li>
            <li>
               <a href="/users/">
                  Users-Account Center
               </a>
            </li>
      		{% block links %}<!-- add links here -->{% endblock %}

      	</ul><!-- end : .sidebar-nav -->

      </div><!-- end : #sidebar-wrapper -->

      <!-- segment ya the : Page-content -->
      <div id="page-content-wrapper">

      	<div class="container-fluid">

      		<section class="header_nav" >
               <!--<div class="container" >-->
                  <div class="row" >

                     <div class="col-md-2" >
                        <button id="togglebtn" 
                        class="btn-floating toggle-side pulse grey" >
                           <!-- btn btn-sm Menu -->
                           <i class="glyphicon glyphicon-list"></i>
                        </button>
                     </div>

                     <div class="col-md-8" >
                        <h1>
                           {% block hi %} <!-- welcome text --> {% endblock %}
                        </h1>
                     </div>

                     <div class="col-md-2" >
                        <p>
                           [ <b> {{ request.user }} </b> ]
                           {% if request.user.is_authenticated %}
                           <br />
                           <a href="{% url 'users_logout_link' %}">
                              <button class="btn btn-sm btn-danger" >
                                 Logout
                              </button>
                           </a>
                           {% endif %}
                        </p>
                        {% if message %}
                        <p>
                           <b>Message:</b><br />
                           {{ message }}site_message
                        </p>
                        {% endif %}
                        {% if site_message %}
                        <p>
                           <b>Site-message:</b><br />
                           {{ site_message }}
                        </p>
                        {% endif %}
                     </div>

                  </div>
               <!--</div>-->
            </section><!-- end: .header_nav -->

            <section class="sect_main cyan accent-1 z-depth-2"><!-- grey lighten-2 -->
               <!--<div class="container" >-->
                  <div class="row" >

                     <div class="col-md-12" >
                        <!-- Before the quiz content -->

								<div class="container">

									{% block content %}

									{% endblock %}

								</div>

								<!-- After the quiz content -->
                     </div>

                  </div>
               <!--</div>-->
            </section><!-- end: .sect_main -->

            <section class="sect_footer" >
               <div class="container" >
                  <div class="row" >

                     <div class="col-md-2" >
                        <a href="#page-content-wrapper" 
                        class="btn-floating brown lighten-2 z-depth-2">
                           <i 
                           class="glyphicon glyphicon-chevron-up grey-text text-darken-3">
                              <!---->
                           </i>
                        </a>
                     </div>

                     <div class="col-md-8" >
                        <h5>Developed By Kibuthi</h5>
                     </div>

                     <div class="col-md-2" >
                        <a href="#page-content-wrapper" 
                        class="btn-floating brown lighten-2 z-depth-2">
                           <i 
                           class="glyphicon glyphicon-chevron-up grey-text text-darken-3">
                              <!---->
                           </i>
                        </a>
                     </div>

                  </div>
               </div>
            </section><!-- end: .sect_footer -->

      	</div><!-- end : .container-fluid -->

      </div><!-- end : #page-content-wrapper -->

	</div><!-- end : #wrapper -->

	<!-- files za jquery, bootstrap-bundle-min -->
	<script src="{% static 'quiz/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'quiz/js/bootstrap.min-4.0.0.js' %}"></script>
   <script src="{% static 'quiz/js/materialize.js' %}"></script>
   <script src="{% static 'quiz/js/Chart.bundle.min.js' %}"></script>
	<script>

   	var sideToggle = $( '.toggle-side' ),
   	orginal_toggle = $( '#menu-toggle' ),
      toggleMenuBtn = $( '#togglebtn' );

   	$( sideToggle ).click( function(e) {
   		e.preventDefault();
   		$("#wrapper").toggleClass("toggled");
         toggleMenuBtn.toggleClass( "pulse" );
   	} );

   </script>
   {% block extraScripts %}

   {% endblock %}

</body>
</html>
