{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}

{% block description %} {% trans "User Progress Page" %} {% endblock %}

{% block hi %}
	Progress Dashboard
{% endblock %}

{% block content %}
	 <!--<p>
		You are {{ request.user }}, with id [{{ request.user.id }}], 
		at level [ {{ request.user.user.progressLevel }} ].
	</p>-->
	<p>
		You are <u>{{ request.user }}</u>, 
		at level <b>[ {{ request.user.user.progressLevel }} ]</b>.
	</p>
	<p>
		Back to 
		<a href="{% url 'quiz_home' %}">
			<button class="btn btn-small red lighten-1 waves-effect waves-light">
				Quiz Dashboard
			</button>
		</a>
	</p>

	{% if testData %}
		<p>
			{{ testData }}
		</p>
	{% endif %}

  {% if cat_scores %}

  <h1>{% trans "Question Category Scores" %}</h1>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Correctly answererd" %}</th>
		<th>{% trans "Incorrect" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}

  {% if exams %}

  <hr>

  <h1>{% trans "Previous exam papers" %}</h1>
  <p class="lead">
	{% trans "Below are the results of exams that you have sat." %}
  </p>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Quiz Title" %}</th>
		<th>{% trans "Score" %}</th>
		<th>{% trans "Possible Score" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ exam.quiz.title }}</td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>

  {% endif %}

  {% if yourSitting %}
  <h4>Below are the actual perfomance information of your tests:</h4>
  <table class="highlight responsive-table centered">
  <thead>
  	<tr>
  		<!--<th>id</th>
  		<th>user</th>-->
  		<th>quiz</th>
  		<th>category</th>
  		<th>cat-Level</th>
  		<!--<th>question_order</th>
  		<th>question_list</th>-->
  		<th>incorrect_qns</th>
  		<th>current_score</th>
  		<th>complete</th>
  		<th>user_answers</th>
  		<!--<th>start</th>
  		<th>end</th>-->
  	</tr>
  </thead>
  <tbody>
  	{% for sitVal in yourSitting %}
  	<tr>
  		<!--<td> {{ sitVal.id }} </td>
  		<td> {{ sitVal.user }} </td>-->
  		<td> {{ sitVal.quiz }} </td>
  		<td> {{ sitVal.quiz.category }} </td>
  		<td> {{ sitVal.quiz.category.level }} </td>
  		<!--<td> {{ sitVal.question_order }} </td>
  		<td> {{ sitVal.question_list }} </td>-->
  		<td> {{ sitVal.incorrect_questions }} </td>
  		<td> {{ sitVal.current_score }} </td>
  		<td> {{ sitVal.complete }} </td>
  		<td> {{ sitVal.user_answers }} </td>
  		<!--<td> {{ sitVal.start }} </td>
  		<td> {{ sitVal.end }} </td>-->
  	</tr>
  	{% endfor %}
  </tbody>
  </table>
  {% endif %}


{% endblock %}
