{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}

{% block description %} {% trans "User Progress Page" %} {% endblock %}

{% block hi %}
	Progress <small>Dashboard</small>
{% endblock %}

{% block content %}
	 <!--<p>
		You are {{ request.user }}, with id [{{ request.user.id }}], 
		at level [ {{ request.user.user.progressLevel }} ].
	</p>-->
	<p>
		Your current progress level is <b> {{ checkLevelOutput }} </b>
	</p>
	<p>
		Back to 
		<a href="{% url 'quiz_home' %}" class="">
			<button class="btn btn-small red lighten-1 waves-effect waves-light">
				Quiz Dashboard
			</button>
		</a>
		<a href="{% url 'quiz_progress' %}" class="right" title="Refress Progress Page">
			<button class="btn btn-floating waves-effect waves-light">
				<i class="material-icons">refresh</i>
			</button>
		</a>
	</p>

	<br>
	<div class="section">
		<a href="/quiz/qGen/">
			<button class="btn waves-light waves-effect">
				Tests Analysis
			</button>
		</a>
		<p class="black-text">
			{% if analysis_status == 'present' %}
				Analysis :: {{ analysis_message }}. 
				<!--<a href="/quiz/{{ qGen_url }}/"> /quiz/{{qGen_url}}/take/ -->
				<a href="{% url 'quiz_start_page' slug=qGen_url %}">
					<button class="btn btn-small">
						Generated Quiz[ {{ qGen_url }} ]
					</button>
				</a>
			{% else %}
				Analysis :: {{ analysis_message }}
			{% endif %}
		</p>
	</div>
	<br>

	{% if exams %}

  <hr>

  <h1>{% trans "Exam Papers" %}</h1>
  <p class="lead">
	{% trans "Below are the results of exams that you have sat." %}
  </p>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Quiz Title" %}</th>
		<th> {% trans "Category" %} </th>
		<th>{% trans "Number of Correctly Answered" %}</th>
		<th>{% trans "Total Number of Qns" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ exam.quiz.title }}</td>
		<td> {{ exam.quiz.category }} </td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>

  {% endif %}

	<br>

	<h4> Quiz Progress Chart </h4>
	<div class="section">
		<canvas id="progressChart"></canvas>
	</div>

	<br>

	<h5 class="center">Incorrect Question Analysis</h5>
	<div class="row">
		{% for qnlist in qn_analysis %}
		<div class="col m6 offset-m3">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title"> {{qnlist.2}} </span>
					<ul>
						<li>
							<b>Sub Category:</b>
							<ol style="list-style-type: circle;">
								<li> {{qnlist.1}} </li>
							</ol>
						</li>
						<li>
							<b>Explanation:</b>
							<ol style="list-style-type: circle;">
								<li> {{qnlist.3}} </li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>

	<br>

  <!--{% if cat_scores %}

  <h1>{% trans "Question Category Scores" %}</h1>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Num' of Correctly answererd Qns" %}</th>
		<th>{% trans "Incorrect" %}</th>
		<th>{% trans "Total Number of Qns" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}-->

  

  {% if yourSitting %}
  <h4>Actual performance breakdown on tests:</h4>
  <table class="highlight responsive-table centered">
  <thead>
  	<tr>
  		<!--<th>id</th>
  		<th>user</th>-->
  		<th>quiz</th>
  		<th>category</th>
  		<th>cat-Level</th>
  		<!--<th>question_order</th>
  		<th>question_list</th>-->
  		<th>incorrect_qns</th>
  		<th>current_score</th>
  		<th>complete</th>
  		<th>Your Answers</th>
  		<!--<th>start</th>
  		<th>end</th>-->
  	</tr>
  </thead>
  <tbody>
  	{% for sitVal in yourSitting %}
  	<tr>
  		<!--<td> {{ sitVal.id }} </td>
  		<td> {{ sitVal.user }} </td>-->
  		<td> {{ sitVal.quiz }} </td>
  		<td> {{ sitVal.quiz.category }} </td>
  		<td> {{ sitVal.quiz.category.level }} </td>
  		<!--<td> {{ sitVal.question_order }} </td>
  		<td> {{ sitVal.question_list }} </td>-->
  		<td> {{ sitVal.incorrect_questions }} </td>
  		<td> {{ sitVal.current_score }} </td>
  		<td> {{ sitVal.complete }} </td>
  		<td> {{ sitVal.user_answers }} </td>
  		<!--<td> {{ sitVal.start }} </td>
  		<td> {{ sitVal.end }} </td>-->
  	</tr>
  	{% endfor %}
  </tbody>
  </table>
  {% endif %}

{% endblock %}

{% block extraScripts %}
<script type="text/javascript">
	var chart = document.getElementById("progressChart").getContext('2d');
	var myChart = new Chart( chart, {
		// type of cahrt
		type: 'bar',//polarArea
		responsive: 'True',
		// data for dataset
		data: {
			labels: {{ examTitles|safe }},
			datasets: [{
				label: "User Progress Chart",
				data: {{ examScores|safe }},
				//hoverBackgroundColor: [ '#ff6384', '#ff4354', '#ff8463' ]
			}]
		},
		// configuration options
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	} );
	// context['examTitles'] = examTitleL
   // context['examScores'] = examScoreL
</script>
{% endblock %}
