{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}

{% block description %} {% trans "User Progress Page" %} {% endblock %}

{% block hi %}
	Progress <small>Dashboard</small>
{% endblock %}

{% block content %}
	 <!--<p>
		You are {{ request.user }}, with id [{{ request.user.id }}], 
		at level [ {{ request.user.user.progressLevel }} ].
	</p>-->
	<p>
		Your current progress level is <b> {{ checkLevelOutput }} </b>
	</p>
	<p>
		Back to 
		<a href="{% url 'quiz_home' %}">
			<button class="btn btn-small red lighten-1 waves-effect waves-light">
				Quiz Dashboard
			</button>
		</a>
	</p>

	{% if exams %}

  <hr>

  <h1>{% trans "Exam Papers" %}</h1>
  <p class="lead">
	{% trans "Below are the results of exams that you have sat." %}
  </p>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Quiz Title" %}</th>
		<th> {% trans "Category" %} </th>
		<th>{% trans "Number of Correctly Answered" %}</th>
		<th>{% trans "Total Number of Qns" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for exam in exams %}

	  <tr>
		<td>{{ exam.quiz.title }}</td>
		<td> {{ exam.quiz.category }} </td>
		<td>{{ exam.current_score }}</td>
		<td>{{ exam.get_max_score }}</td>
		<td>{{ exam.get_percent_correct }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>

  {% endif %}

	<br>

	<h4> Quiz Progress Chart </h4>
	<div class="section">
		<canvas id="progressChart"></canvas>
	</div>

	<br>

	<h5 class="center">Incorrect Question Analysis</h5>
	<div class="row" style="overflow: auto">
		<div class="col m6 offset-m3">
	{% for quiztitle, qndict in qn_analysis.items %}
	{% for qnid, qndata in qndict.items %}
	<div class="card hoverable">
		<div class="card-content">
			<span class="card-title"> {{ qndata.0 }} </span>
			<h6>
				In Quiz:
				<small> {{ quiztitle }} </small>
			</h6>
			<ul>
				<li>
					Explanation :
					<ol style="list-style-type: circle;">
						<li> {{ qndata.3 }} </li>
					</ol>
				</li>
				<li>
					Sub Category :
					<ol style="list-style-type: circle;">
						<li> {{ qndata.2 }} </li>
					</ol>
				</li>
			</ul>
		</div>
	</div>
	{% endfor %}
	{% endfor %}
		</div>
	</div>

	<br>

  <!--{% if cat_scores %}

  <h1>{% trans "Question Category Scores" %}</h1>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Category" %}</th>
		<th>{% trans "Num' of Correctly answererd Qns" %}</th>
		<th>{% trans "Incorrect" %}</th>
		<th>{% trans "Total Number of Qns" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>


	  {% for cat, value in cat_scores.items %}
	  <tr>
		<td>{{ cat }}</td>
		<td>{{ value.0 }}</td>
		<td>{{ value.1 }}</td>
		<td>{{ value.2 }}</td>
	  </tr>

	  {% endfor %}

	</tbody>

  </table>


  {% endif %}-->

  

  {% if yourSitting %}
  <h4>Actual performance breakdown on tests:</h4>
  <table class="highlight responsive-table centered">
  <thead>
  	<tr>
  		<!--<th>id</th>
  		<th>user</th>-->
  		<th>quiz</th>
  		<th>category</th>
  		<th>cat-Level</th>
  		<!--<th>question_order</th>
  		<th>question_list</th>-->
  		<th>incorrect_qns</th>
  		<th>current_score</th>
  		<th>complete</th>
  		<th>user_answers</th>
  		<!--<th>start</th>
  		<th>end</th>-->
  	</tr>
  </thead>
  <tbody>
  	{% for sitVal in yourSitting %}
  	<tr>
  		<!--<td> {{ sitVal.id }} </td>
  		<td> {{ sitVal.user }} </td>-->
  		<td> {{ sitVal.quiz }} </td>
  		<td> {{ sitVal.quiz.category }} </td>
  		<td> {{ sitVal.quiz.category.level }} </td>
  		<!--<td> {{ sitVal.question_order }} </td>
  		<td> {{ sitVal.question_list }} </td>-->
  		<td> {{ sitVal.incorrect_questions }} </td>
  		<td> {{ sitVal.current_score }} </td>
  		<td> {{ sitVal.complete }} </td>
  		<td> {{ sitVal.user_answers }} </td>
  		<!--<td> {{ sitVal.start }} </td>
  		<td> {{ sitVal.end }} </td>-->
  	</tr>
  	{% endfor %}
  </tbody>
  </table>
  {% endif %}

  <br>
  <!--{{ sampleChart.as_html }}-->
	<!--{% load jchart %}

	{% render_chart 'sampleChart' %}-->
	
	


{% endblock %}

{% block extraScripts %}
<script type="text/javascript">
	var chart = document.getElementById("progressChart").getContext('2d');
	var myChart = new Chart( chart, {
		// type of cahrt
		type: 'bar',//polarArea
		responsive: 'True',
		// data for dataset
		data: {
			labels: {{ examTitles|safe }},
			datasets: [{
				label: "User Progress Chart",
				data: {{ examScores|safe }},
				//hoverBackgroundColor: [ '#ff6384', '#ff4354', '#ff8463' ]
			}]
		},
		// configuration options
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	} );
	// context['examTitles'] = examTitleL
   // context['examScores'] = examScoreL
</script>
{% endblock %}
