{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans "Quizzes related to" %} {{ category.category }}
{% endblock %}

{% block hi %}
    Categories <small>Hub</small>
{% endblock %}

{% block content %}
    <h4>
        {% trans "Quizzes in the" %}
        <strong>{{ category.category }} $</strong>
        {% trans "category" %}
    </h4>

    {% with object_list as quizzes %}

    {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
            <li>
    		  {% if request.user.user.progressLevel >= quiz.category.level %}
              <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
    			<button class="btn-large light-blue"><!-- green accent-3 -->
                    {{ quiz.title }}             
                </button>                
    		  </a>
              {% else %}
              <button class="btn-large red accent-3 white-text" >
                  Denied
              </button>
              {% endif %}
    		</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "There are no quizzes" %}</p>
    {% endif %}

    {% endwith %}

    <br>
    <p>
        <a href="#" onClick="javascript:history.go(-1);"><!-- {% url 'quiz_home' %} -->
            <button class="btn btn-small red lighten-1 waves-effect waves-light">
                Back
            </button>
        </a>
    </p>

{% endblock %}
