{% extends 'root_template.html' %}

{% block pagetitle %} Glyphicon Center {% endblock %}

{% block hi %} Glyphicon Mania !! {% endblock %}

{% block content %}

	<h5>
		List of Some Available Glyphicons
	</h5>

	<table class="table table-hover table-condensed" >

		<thead>
			<tr>
				<th>Name</th>
				<th>Resulting Icon</th>
			</tr>
		</thead>

		<tbody>

			<tr>
				<td> glyphicon-asterisk </td>
				<td> <span class="glyphicon glyphicon-asterisk" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-plus </td>
				<td> <span class="glyphicon glyphicon-plus" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-euro </td>
				<td> <span class="glyphicon glyphicon-euro" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-minus </td>
				<td> <span class="glyphicon glyphicon-minus" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-cloud </td>
				<td> <span class="glyphicon glyphicon-cloud" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-envelope </td>
				<td> <span class="glyphicon glyphicon-envelope" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-pencil </td>
				<td> <span class="glyphicon glyphicon-pencil" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-glass </td>
				<td> <span class="glyphicon glyphicon-glass" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-music </td>
				<td> <span class="glyphicon glyphicon-music" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-search </td>
				<td> <span class="glyphicon glyphicon-search" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-heart </td>
				<td> <span class="glyphicon glyphicon-heart" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-star </td>
				<td> <span class="glyphicon glyphicon-star" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-star-empty </td>
				<td> <span class="glyphicon glyphicon-star-empty" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-home </td>
				<td> <span class="glyphicon glyphicon-home" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-user </td>
				<td> <span class="glyphicon glyphicon-user" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-film </td>
				<td> <span class="glyphicon glyphicon-film" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-th-large </td>
				<td> <span class="glyphicon glyphicon-th-large" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-th </td>
				<td> <span class="glyphicon glyphicon-th" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-th-list </td>
				<td> <span class="glyphicon glyphicon-th-list" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-ok </td>
				<td> <span class="glyphicon glyphicon-ok" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-remove </td>
				<td> <span class="glyphicon glyphicon-remove" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-zoom-in </td>
				<td> <span class="glyphicon glyphicon-zoom-in" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-zoom-out </td>
				<td> <span class="glyphicon glyphicon-zoom-out" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-off </td>
				<td> <span class="glyphicon glyphicon-off" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-signal </td>
				<td> <span class="glyphicon glyphicon-signal" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-cog </td>
				<td> <span class="glyphicon glyphicon-cog" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-trash </td>
				<td> <span class="glyphicon glyphicon-trash" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-file </td>
				<td> <span class="glyphicon glyphicon-file" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-time </td>
				<td> <span class="glyphicon glyphicon-time" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-road </td>
				<td> <span class="glyphicon glyphicon-road" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-download-alt </td>
				<td> <span class="glyphicon glyphicon-download-alt" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-download </td>
				<td> <span class="glyphicon glyphicon-download" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-upload </td>
				<td> <span class="glyphicon glyphicon-upload" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-inbox </td>
				<td> <span class="glyphicon glyphicon-inbox" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-play-circle </td>
				<td> <span class="glyphicon glyphicon-play-circle" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-repeat </td>
				<td> <span class="glyphicon glyphicon-repeat" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-refresh </td>
				<td> <span class="glyphicon glyphicon-refresh" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-list-alt </td>
				<td> <span class="glyphicon glyphicon-list-alt" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-lock </td>
				<td> <span class="glyphicon glyphicon-lock" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-flag </td>
				<td> <span class="glyphicon glyphicon-flag" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-headphones </td>
				<td> <span class="glyphicon glyphicon-headphones" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-volume-off </td>
				<td> <span class="glyphicon glyphicon-volume-off" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-volume-down </td>
				<td> <span class="glyphicon glyphicon-volume-down" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-volume-up </td>
				<td> <span class="glyphicon glyphicon-volume-up" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-qrcode </td>
				<td> <span class="glyphicon glyphicon-qrcode" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-barcode </td>
				<td> <span class="glyphicon glyphicon-barcode" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-tag </td>
				<td> <span class="glyphicon glyphicon-tag" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-tags </td>
				<td> <span class="glyphicon glyphicon-tags" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-book </td>
				<td> <span class="glyphicon glyphicon-book" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-bookmark </td>
				<td> <span class="glyphicon glyphicon-bookmark" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-print </td>
				<td> <span class="glyphicon glyphicon-print" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-camera </td>
				<td> <span class="glyphicon glyphicon-camera" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-font </td>
				<td> <span class="glyphicon glyphicon-font" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-bold </td>
				<td> <span class="glyphicon glyphicon-bold" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-italic </td>
				<td> <span class="glyphicon glyphicon-italic" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-text-height </td>
				<td> <span class="glyphicon glyphicon-text-height" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-text-width </td>
				<td> <span class="glyphicon glyphicon-text-width" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-align-left </td>
				<td> <span class="glyphicon glyphicon-align-left" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-align-center </td>
				<td> <span class="glyphicon glyphicon-align-center" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-align-right </td>
				<td> <span class="glyphicon glyphicon-align-right" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-align-justify </td>
				<td> <span class="glyphicon glyphicon-align-justify" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-list </td>
				<td> <span class="glyphicon glyphicon-list" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-indent-left </td>
				<td> <span class="glyphicon glyphicon-indent-left" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-indent-right </td>
				<td> <span class="glyphicon glyphicon-indent-right" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-facetime-video </td>
				<td> <span class="glyphicon glyphicon-facetime-video" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-picture </td>
				<td> <span class="glyphicon glyphicon-picture" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-map-marker </td>
				<td> <span class="glyphicon glyphicon-map-marker" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-adjust </td>
				<td> <span class="glyphicon glyphicon-adjust" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-tint </td>
				<td> <span class="glyphicon glyphicon-tint" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-edit </td>
				<td> <span class="glyphicon glyphicon-edit" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-share </td>
				<td> <span class="glyphicon glyphicon-share" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-check </td>
				<td> <span class="glyphicon glyphicon-check" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-move </td>
				<td> <span class="glyphicon glyphicon-move" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-step-backward </td>
				<td> <span class="glyphicon glyphicon-step-backward" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-fast-backward </td>
				<td> <span class="glyphicon glyphicon-fast-backward" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-backward </td>
				<td> <span class="glyphicon glyphicon-backward" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-play </td>
				<td> <span class="glyphicon glyphicon-play" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-pause </td>
				<td> <span class="glyphicon glyphicon-pause" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-stop </td>
				<td> <span class="glyphicon glyphicon-stop" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-forward </td>
				<td> <span class="glyphicon glyphicon-forward" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-fast-forward </td>
				<td> <span class="glyphicon glyphicon-fast-forward" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-step-forward </td>
				<td> <span class="glyphicon glyphicon-step-forward" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-eject </td>
				<td> <span class="glyphicon glyphicon-eject" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-chevron-left </td>
				<td> <span class="glyphicon glyphicon-chevron-left" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-chevron-right </td>
				<td> <span class="glyphicon glyphicon-chevron-right" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-plus-sign </td>
				<td> <span class="glyphicon glyphicon-plus-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-minus-sign </td>
				<td> <span class="glyphicon glyphicon-minus-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-remove-sign </td>
				<td> <span class="glyphicon glyphicon-remove-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-ok-sign </td>
				<td> <span class="glyphicon glyphicon-ok-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-question-sign </td>
				<td> <span class="glyphicon glyphicon-question-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-info-sign </td>
				<td> <span class="glyphicon glyphicon-info-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-screenshot </td>
				<td> <span class="glyphicon glyphicon-screenshot" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-remove-circle </td>
				<td> <span class="glyphicon glyphicon-remove-circle" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-ok-circle </td>
				<td> <span class="glyphicon glyphicon-ok-circle" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-ban-circle </td>
				<td> <span class="glyphicon glyphicon-ban-circle" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-arrow-left </td>
				<td> <span class="glyphicon glyphicon-arrow-left" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-arrow-right </td>
				<td> <span class="glyphicon glyphicon-arrow-right" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-arrow-up </td>
				<td> <span class="glyphicon glyphicon-arrow-up" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-arrow-down </td>
				<td> <span class="glyphicon glyphicon-arrow-down" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-share-alt </td>
				<td> <span class="glyphicon glyphicon-share-alt" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-resize-full </td>
				<td> <span class="glyphicon glyphicon-resize-full" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-resize-small </td>
				<td> <span class="glyphicon glyphicon-resize-small" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-exclamation-sign </td>
				<td> <span class="glyphicon glyphicon-exclamation-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-gift </td>
				<td> <span class="glyphicon glyphicon-gift" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-leaf </td>
				<td> <span class="glyphicon glyphicon-leaf" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-fire </td>
				<td> <span class="glyphicon glyphicon-fire" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-eye-open </td>
				<td> <span class="glyphicon glyphicon-eye-open" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-eye-close </td>
				<td> <span class="glyphicon glyphicon-eye-close" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-warning-sign </td>
				<td> <span class="glyphicon glyphicon-warning-sign" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-plane </td>
				<td> <span class="glyphicon glyphicon-plane" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-calendar </td>
				<td> <span class="glyphicon glyphicon-calendar" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-random </td>
				<td> <span class="glyphicon glyphicon-random" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-comment </td>
				<td> <span class="glyphicon glyphicon-comment" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-magnet </td>
				<td> <span class="glyphicon glyphicon-magnet" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-chevron-up </td>
				<td> <span class="glyphicon glyphicon-chevron-up" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-chevron-down </td>
				<td> <span class="glyphicon glyphicon-chevron-down" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-retweet </td>
				<td> <span class="glyphicon glyphicon-retweet" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-shopping-cart </td>
				<td> <span class="glyphicon glyphicon-shopping-cart" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-folder-close </td>
				<td> <span class="glyphicon glyphicon-folder-close" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-folder-open </td>
				<td> <span class="glyphicon glyphicon-folder-open" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-resize-vertical </td>
				<td> <span class="glyphicon glyphicon-resize-vertical" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-resize-horizontal </td>
				<td> <span class="glyphicon glyphicon-resize-horizontal" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-hdd </td>
				<td> <span class="glyphicon glyphicon-hdd" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-bullhorn </td>
				<td> <span class="glyphicon glyphicon-bullhorn" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-bell </td>
				<td> <span class="glyphicon glyphicon-bell" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-certificate </td>
				<td> <span class="glyphicon glyphicon-certificate" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-thumbs-up </td>
				<td> <span class="glyphicon glyphicon-thumbs-up" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-thumbs-down </td>
				<td> <span class="glyphicon glyphicon-thumbs-down" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-hand-right </td>
				<td> <span class="glyphicon glyphicon-hand-right" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-hand-left </td>
				<td> <span class="glyphicon glyphicon-hand-left" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-hand-up </td>
				<td> <span class="glyphicon glyphicon-hand-up" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-hand-down </td>
				<td> <span class="glyphicon glyphicon-hand-down" ></span> </td>
			</tr>

			<tr>
				<td>
					glyphicon-circle-arrow-right
					<small> [ left, up, down ]</small>
				</td>
				<td> <span class="glyphicon glyphicon-circle-arrow-right" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-globe </td>
				<td> <span class="glyphicon glyphicon-globe" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-wrench </td>
				<td> <span class="glyphicon glyphicon-wrench" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-tasks </td>
				<td> <span class="glyphicon glyphicon-tasks" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-filter </td>
				<td> <span class="glyphicon glyphicon-filter" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-briefcase </td>
				<td> <span class="glyphicon glyphicon-briefcase" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-fullscreen </td>
				<td> <span class="glyphicon glyphicon-fullscreen" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-dashboard </td>
				<td> <span class="glyphicon glyphicon-dashboard" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-paperclip </td>
				<td> <span class="glyphicon glyphicon-paperclip" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-link </td>
				<td> <span class="glyphicon glyphicon-link" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-phone </td>
				<td> <span class="glyphicon glyphicon-phone" ></span> </td>
			</tr>

			<tr>
				<td> glyphicon-pushpin </td>
				<td> <span class="glyphicon glyphicon-pushpin" ></span> </td>
			</tr>

		</tbody>

	</table>

{% endblock %}